
/*view_allFranchisee*/

.headerAdmin {
    margin-bottom: 2em;
}


/*view_specTruck*/

#title-01 {
    margin-top: 0.5em;
}

.navbar {
    margin-top: 2em;
}

.button-007 {
    padding : 0 0 1em 0;
}

.upsetclass {
    margin : 0 0.5em 0 0.5em;
}

#jumbo-01 {
    padding: 1em;
}

#jumbo-02 {
    padding : 1em 2em;
}